parameters:
    parallel:
        maximumNumberOfProcesses: 2
    level: 5
    bootstrapFiles:
        - '../../../../inc/based_config.php'
        - '../../../../inc/db.function.php'
    excludePaths:
        - '**/vendor/*'
        - '**/tests/*'
        - '**/tools/*'
    paths:
        - ..
        - tools/phpstan/rules
    stubFiles:
        - './stubs/glpi_constants.php'
    ignoreErrors:
        - '/Property CommonDBTM::\$input \(array\<mixed\>\) does not accept false/'
        - '/Access to property \$fields on an unknown class Plugin\w+/'
        - '/Access to constant \w+ on an unknown class Plugin\w+/'
        - '/Call to static method \w+\(\) on an unknown class Plugin\w+/'
    reportUnmatchedIgnoredErrors: false
services:
    -
        class: CustomPHPStanRules\HardcodedPasswordRule
        tags: [phpstan.rules.rule]
    -
        class: CustomPHPStanRules\UnsafeFunctionsRule
        tags: [phpstan.rules.rule]
    -
        class: CustomPHPStanRules\InputValidationRule
        tags: [phpstan.rules.rule]
    -
        class: CustomPHPStanRules\SensitiveInfoExposureRule
        tags: [phpstan.rules.rule]
    -
        class: CustomPHPStanRules\SqlInjectionRule
        tags: [phpstan.rules.rule]
    -
        class: CustomPHPStanRules\PermissionControlRule
        tags: [phpstan.rules.rule]