# Used by tools/phpstan.sh with the bundled phpstan.phar when vendor/ is not installed.
# Keep in sync with ../../phpstan.neon
parameters:
    level: 5
    bootstrapFiles:
        - ../../../../vendor/autoload.php
        - autoload.php
    paths:
        - ../../ajax
        - ../../front
        - ../../inc
        - ../../report
        - ../../src
        - ../../hook.php
        - ../../setup.php
    excludePaths:
        - '**/vendor/*'
        - '**/tests/*'
        - '**/tools/*'
    scanDirectories:
        - ../../../../src
        - rules
    ignoreErrors:
        # Reports are built on top of the optional "reports" plugin (checked at runtime)
        -
            message: '#(Instantiated class|unknown class) PluginReports\w+#'
            paths:
                - ../../report/actualtimetotal/actualtimetotal.php
                - ../../report/actualtimeuser/actualtimeuser.php
    reportUnmatchedIgnoredErrors: false
services:
    -
        class: CustomPHPStanRules\HardcodedPasswordRule
        tags: [phpstan.rules.rule]
    -
        class: CustomPHPStanRules\UnsafeFunctionsRule
        tags: [phpstan.rules.rule]
    -
        class: CustomPHPStanRules\InputValidationRule
        tags: [phpstan.rules.rule]
    -
        class: CustomPHPStanRules\SensitiveInfoExposureRule
        tags: [phpstan.rules.rule]
    -
        class: CustomPHPStanRules\SqlInjectionRule
        tags: [phpstan.rules.rule]
    -
        class: CustomPHPStanRules\PermissionControlRule
        tags: [phpstan.rules.rule]
